.events {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

  .events-header h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .event-list,
  .past-events {
    margin-bottom: 20px;
  }

  .event-card {
    background-color: #555050;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
  }

  .event-card h2 {
    margin: 0;
    padding-bottom: 10px;
  }

  .event-card p {
    margin: 0;
    padding-bottom: 20px;
  }

  .event-card button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .event-card button:hover {
    background-color: #bbb;
  }

  .event-description {
    flex: 1;
    padding-left: 20px;
    text-align: center; /* Center align the text */
  }
  
  .center-text {
    text-align: center;
    margin: 10px 0;
  }
  
  .center-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0 0 20px 0; /* Center the list itself */
    display: inline-block; /* Ensure the list is treated as inline-block for centering */
    text-align: left; /* Align the text of list items to the left */
  }
  
  .center-list li {
    margin-bottom: 10px;
  }
  
